.searchInput {
	font-family: 'Montserrat', sans-serif;
	margin: 1.25 0px;
	width: 1168px;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #4c37eb;
}

.searchInput:focus{
  color: #4c37eb;
}

@media screen and (max-width: 700px)  {
	.searchInput {
		width: 90%;
		margin: 1.5rem auto;
	}
}
