.a{
	color: #4c37eb;
	text-decoration: none;
}

.span{
	padding: .2em .8em;
	margin: 0;
	background-color: rgba(48, 59, 69, 0.06);
	border-radius: 6px;
}

.h2-lg{
	font-size: 2.3em;
}

.h2-md{
	font-size: 1.8em;
}

.h3{
	font-size: 1.3em
}